
* {
background-color: silver;
}


#box {
  border: 1px solid black;
  height: 350px;
  width: 350px;
  background-color: aliceblue;
  margin-top: 200px;
  margin-left: 200px;
}



.stop {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}


.timer {
  display: inline-flex;
  margin-left: 130px;
  justify-content: center;
  align-items: center;
  font-size: x-large  ;
  border: 0.5px solid black;
}

#buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

#start {
  display: flex;
  margin-right:20px ;
  
  

}


#stop {
  display: flex;
  margin-right: 20px;
}